.header {
    background-color: lightgray;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.Home {
    color: aliceblue;
    font-size: x-large;
    margin-left: 30px;
}

.Home:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.KB-Button {
    margin-left: 30px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
    color: aliceblue;
    font-size: x-large;
}

.KB-Button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}


.Community {
    color: aliceblue;
    font-size: x-large;
    margin-left: 30px;

}

.Community:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.FS-link {
    color: aliceblue;
    font-size: x-large;
    margin-left: 30px;
    right: 1fr;

}

.FS-link:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.Header.H1 {
    font-family: arial;
    font-size: 10px;
}

.sidebar {
    background-color: lightgray;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 85.8%;
    width: 122px;
}

